/*
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
*/

/*MAIN PAGE*/

.background_img {
    background-image: url(images/538489900.jpg);
    height: 680px;
    background-size: cover;
}

/*CALENDAR*/

h1 {
    color:white;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
}




body {
   font-family: 'East Sea Dokdo', cursive;
/*    background-image: url(images/soccer-field-sports-poster-print_a-G-12261171-13198933.jpg);*/
    background-size: cover;
    
}


body {margin:0;}

/*TOPBAR*/

.icon-bar {
    width: 100%;
    overflow: auto;
}

.icon-bar button {
    float: left;
    width: 50%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    background-color: gray;
}

.icon-bar button:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

/*NAVBAR*/

#logo a{
    float: left;
    width: 33.33%;

}


.nav-bar {
    width: 100%;
    overflow: auto;
    position: fixed;
    bottom: 0;
}

.nav-bar button {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    background-color: gray;
}

.nav-bar button:hover {
    background-color: #000;
}



/*PRETTY*/

#back {
    background-color: white;
    opacity: 0.8;
}

.block {
    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgray;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
}


/*TYPOGRAPHY*/
.allDates {
    font-size: 40px;
    border: 1px solid black;
}

h2 {
 font-size: 50px;   
}